ILSpy.xml
1Password
BraveSoftware
Electron
Postman
Signal
Slack
.mono
autostart
cagent
cef_user_data
chromium
configstore
dconf
discord
dlv
environment.d
forerunner
git
github-copilot
google
google-chrome
google-chrome-beta
google-chrome-unstable
htop
hub
inkscape
io.datasette.llm
iterm2
menus
microsoft-edge-dev
mimeapps.list
mozc
nextjs-nodejs
nvim/lua/local
obsidian
org.rosania.second-ascent
planetscale
pulse
spotify
systemd
tron/certs
unity3d
uv
wireshark
wslu
vivaldi-snapshot
vivaldi
yarn/global
yay
QtProject.conf
zoom.conf
zoomus.conf
