ILSpy.xml
1Password
BraveSoftware
Postman
Signal
Slack
.mono
autostart
cagent
cef_user_data
chromium
configstore
dconf
discord
git
github-copilot
google
google-chrome
google-chrome-beta
google-chrome-unstable
hub
iterm2
menus
microsoft-edge-dev
mimeapps.list
nextjs-nodejs
nvim/lua/local
obsidian
planetscale
pulse
spotify
systemd
tron/certs
unity3d
uv
wireshark
wslu
vivaldi-snapshot
vivaldi
yarn/global
yay
QtProject.conf
zoom.conf
zoomus.conf
