ILSpy.xml
1Password
BraveSoftware
Postman
Signal
Slack
.mono
autostart
cef_user_data
chromium
configstore
dconf
discord
github-copilot
google
google-chrome
google-chrome-beta
google-chrome-unstable
hub
iterm2
menus
microsoft-edge-dev
mimeapps.list
nextjs-nodejs
obsidian
planetscale
pulse
spotify
systemd
tron/certs
unity3d
wireshark
wslu
vivaldi-snapshot
vivaldi
yarn/global
yay
